body {
    background-color: rgb(250, 241, 249);

}

h1{
    color: rgb(73, 84, 85);
    text-align: center;
    font-size: 50px;
}

.container{
    width: 900px;
    margin: 0px auto;
    padding: 5px;
}
p{
    color: gray;
    text-align: center;
}
img{
    height: 20%;
    width: 20%;
    margin: 10px;
}

.sub-row1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(40, 208, 214);
    margin-bottom: 15px;
    margin-top: 15px;
}

.sub-row2{
    display: flex;
    justify-content: space-around;
    background-color: rgb(228, 170, 224);
    margin-bottom: 15px;
    margin-top: 15px;

}

.sub-row3{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}
